<div class="wrapper">
  <h1>Registration</h1>
  <div class="name">
    <p>Enter your name</p>
        <span class="p-float-label">
            <input id="float-input-name" class="p-inputtext-lg" name="username" [(ngModel)]="user.name" type="text" pInputText>
            <label for="float-input-name">Name</label>
        </span>
  </div>
  <div class="email">
    <p>Enter your email</p>
    <span class="p-float-label">
            <input id="float-input-email"  class="p-inputtext-lg" name="email" [(ngModel)]="user.email"type="text" pInputText>
            <label for="float-input-email">Email</label>
        </span>
  </div>
  <div class="phone">
    <p>Enter your phone</p>
    <span class="p-float-label">
            <input id="float-input-phone"  class="p-inputtext-lg" name="phone" [(ngModel)]="user.phone" type="text"  pInputText>
            <label for="float-input-phone">Phone</label>
        </span>
  </div>
  <div class="login">
    <p>Enter your login</p>
    <span class="p-float-label">
            <input id="float-input-login"  class="p-inputtext-lg" name="login" [(ngModel)]="user.authentication.login" type="text"  pInputText>
            <label for="float-input-login">Login</label>
        </span>
  </div>
  <div class="pass">
    <p>Enter your password</p>
    <span class="p-float-label">
            <input id="float-input-pass"  class="p-inputtext-lg" name="pass" [(ngModel)]="user.authentication.pass"type="text"  pInputText>
            <label for="float-input-pass">Password</label>
        </span>
  </div>
  <p-button label="Sign Up" class="p-button-lg" routerLink="" (click)="submit(user)"></p-button>
</div>
