<div class="content-section implementation">
  <div class="card">
    <p-orderList [value]="productB" [listStyle]="{'max-height':'30rem'}" header="List of Products"
                 filterBy="name" filterPlaceholder="Filter by name" [dragdrop]="true">
      <ng-template let-productB pTemplate="item">
        <div class="product-item">
          <div class="image-container">
            <img [src]="'assets/images/product/' + productB.name+'.jpg'" [alt]="productB.name"
                 class="product-image"/>
          </div>
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{productB.name}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{productB.category}}</span>
          </div>
          <div>
            <input [(ngModel)]="productB.rate" >
          </div>
          <div class="product-list-action">
            <h6 class="p-mb-2">${{productB.price}}</h6>
            <span [class]="'product-badge status-' + productB.stock">{{productB.stock}}</span>
          </div>
        </div>
      </ng-template>
    </p-orderList>
    <div class="dis">
      <p-button class="or" (click)="bucketService.order(productB, bucketService.amount)"
                (click)="showMaximizableDialog()">Order
      </p-button>
      <p-button class="mar" [routerLink]="'/market'">Back to market</p-button>
      <p-button class="mar" (click)="History(user)">Order History</p-button>
    </div>
  </div>
</div>
<p-dialog header="Order Detail" [(visible)]="displayMaximizable" [modal]="true"
          [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Order sum is {{bucketService.order(productB, user.amount)}}</p>
  <p>Agree?</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="ClickConfirm()" label="Yes"
              class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayMaximizable=false" label="No"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="Success" [(visible)]="displayMin" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Congratulations</p>
  <ng-template pTemplate="footer">
    <p-button mat-stroked-button (click)="onClick()" pButton icon="pi pi-check"
              label="Confirm"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="History" [(visible)]="displayHistory" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p>Order History</p>
  <ng-template pTemplate="footer">
    <p-orderList [value]="historyOrder" [listStyle]="{'max-height':'30rem'}"
                 header="List of Products" filterBy="name" filterPlaceholder="Filter by name"
                 [dragdrop]="true">
      <ng-template let-historyOrder pTemplate="item">
        <div class="product-item">
          <div class="image-container">
            <img [src]="'assets/images/product/' + historyOrder.name+'.jpg'"
                 [alt]="historyOrder.name" class="product-image"/>
          </div>
          <div class="product-list-detail">
            <h5 class="p-mb-2">{{historyOrder.name}}</h5>
            <i class="pi pi-tag product-category-icon"></i>
            <span class="product-category">{{historyOrder.category}}</span>
          </div>
          <div class="product-list-action">
            <h5 class="p-mb-2">${{historyOrder.price}}</h5>
          </div>
        </div>
      </ng-template>
    </p-orderList>
    <p-button mat-stroked-button (click)="this.displayHistory = false" pButton icon="pi pi-check"
              label="Ok"></p-button>
  </ng-template>
</p-dialog>

