<div class="card">
  <p-dataView #dv [value]="products" [paginator]="true" [rows]="3" filterBy="name"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price"
                    (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <p-button class="dis" [routerLink]="'bucket'">Cart</p-button>
        <p-button class="dis" (click)="showAdd()" [class.visibleBTN]="!isMod">Add</p-button>

        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img [src]="product.image" [alt]="product.name"/>
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [class.ver]="product.stock === 0"
                      (click)="bucketService.setProducts(product)"></p-button>
            <span [class]="'product-badge status-' + product.stock">Left {{product.stock}}</span>
            <p-button class="dis" (click)="showDel()" [class.visibleBTN]="!isAdmin" (click)="preAlter(product)">Alter
            </p-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4 w-30">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span [class]="'product-badge status-12' + product.stock">Left {{product.stock}}</span>
          </div>
          <div class="product-grid-item-content">
            <img [src]="product.image" [alt]="product.name"/>
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <p-rating [ngModel]="product.rate" [readonly]="true" [cancel]="false"></p-rating>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.stock === 0 "
                      (click)="bucketService.setProducts(product)"></p-button>
            <p-button class="dis" (click)="showDel()" [class.visibleBTN]="!isAdmin" (click)="preAlter(product)">Alter
            </p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<p-dialog header="Success" [(visible)]="displayAdd" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p class="add">Add new product</p>
  <ng-template pTemplate="footer">
    <div class="add">
      <input id="float-input-name" class="p-inputtext-lg" name="name" [(ngModel)]="product.name" type="text" pInputText>
      <label for="float-input-name">Name</label>
      <input id="float-input-price" class="p-inputtext-lg" name="price" [(ngModel)]="product.price" type="text"
             pInputText>
      <label for="float-input-price">Price</label>
      <input id="float-input-rate" class="p-inputtext-lg" name="rate" [(ngModel)]="product.rate" type="text" pInputText>
      <label for="float-input-rate">Rate</label>
      <input id="float-input-stock" class="p-inputtext-lg" name="stock" [(ngModel)]="product.stock" type="text"
             pInputText>
      <label for="float-input-stock">Stock</label>
    </div>
    <p-button icon="pi pi-check" (click)="displayAdd=false" (click)="addProducts(product)" label="Ok"
              class="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<p-dialog header="Alter Product Property" [(visible)]="displayDel" [modal]="true" [style]="{width: '50vw'}"
          [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <p class="add">Change Products properties</p>
  <ng-template pTemplate="footer">
    <div class="add">
      <input id="float-input-nam" class="p-inputtext-lg" name="name" [(ngModel)]="product.name" type="text" pInputText>
      <p-button icon="pi pi-check" (click)="this.currentProduct.name = product.name" label="Change Name"
                class="p-button-text"></p-button>
      <input id="float-input-stok" class="p-inputtext-lg" name="stock" [(ngModel)]="product.stock" type="text"
             pInputText>
      <p-button icon="pi pi-check" (click)="this.currentProduct.stock = product.stock" label="Change stock"
                class="p-button-text"></p-button>
      <input id="float-input-rat" class="p-inputtext-lg" name="rate" [(ngModel)]="product.rate" type="text"
             pInputText>
      <p-button icon="pi pi-check" (click)="this.currentProduct.rate = product.rate" label="Change rate"
                class="p-button-text"></p-button>
      <input id="float-input-pric" class="p-inputtext-lg" name="price" [(ngModel)]="product.price" type="text"
             pInputText>
      <p-button icon="pi pi-check" (click)="this.currentProduct.price = product.price" label="Change price"
                class="p-button-text"></p-button>
      <div>
        <p-button icon="pi pi-check" (click)="displayDel=false" (click)="delete()" label="Delete"
                  class="p-button-text1"></p-button>
        <p-button icon="pi pi-check" (click)="displayDel=false" (click)="alter()" label="Save"
                  class="p-button-text1"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
